import { ${upperName}Component } from './${inputName}.component';

describe('${upperName}Component', () => {
  let component: ${upperName}Component;

  beforeEach(() => {
    component = new ${upperName}Component();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
