import { ChangeDetectionStrategy, Component, OnInit } from '@angular/core';

@Component({
  selector: '${cmpSelector}',
  templateUrl: './${inputName}.component.html',
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class ${upperName}Component implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
