/* tslint:disable:no-unused-variable */
import { ${upperName}Directive } from './${inputName}.directive';

describe('Directive: ${upperName}', () => {
  it('should create an instance', () => {
    const directive = new ${upperName}Directive();
    expect(directive).toBeTruthy();
  });
});
