import { ${upperName}Service } from './${inputName}.directive';

describe('Service: ${upperName}', () => {
  it('should create an instance', () => {
    const service = new ${upperName}Service();
    expect(service).toBeTruthy();
  });
});
